modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Satellite System"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Satellite Tracker"

[[workflows.workflow]]
name = "Satellite System"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python UI.py"

[[workflows.workflow]]
name = "Satellite Tracker"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python tracker.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 36211
externalPort = 80

[[ports]]
localPort = 45169
externalPort = 3000
